
/* ==========================================================================
Map
========================================================================== */


#map {


  display: none;

  @include bp($lg){
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;}

}

.bv-highlights-wrap{

    display: block;

  @include bp($lg) {  display: none;  }
}


.map {

  min-height: 500px;

  @include bp($xl){

    position: relative;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 650px;
   }
}



.marker {

    cursor: pointer;
    content: "";
    display: inline-block;
    height: 3.5em;
    width: 3.05em;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: contain;

    &--kultur  {  background-image: url( "../img/icons/pin-kultur.svg" ); }
    &--abenteuer  {  background-image: url( "../img/icons/pin-abenteuer.svg" ); }
    &--cities  {  background-image: url( "../img/icons/pin-cities.svg" ); }
    &--natur  {  background-image: url( "../img/icons/pin-natur.svg" ); }
}



.bv-pin::before {

    content: "";
    display: inline-block;
    height: 1.5em;
    width: 1.05em;
    margin-right: .5em;
    margin-left: .6em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: contain;
    transform: scale(1.8);

    @include bp($lg){

      content: "";
      display: inline-block;
      height: 1.5em;
      width: 1.05em;
      margin-right: 1em;
      margin-top: .3em;
      margin-bottom: .5em;
      vertical-align: middle;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      transform: scale(1.5);
     }

}

.bv-kultur::before {
  content: url( "../img/icons/pin-kultur.svg" );
}

.bv-natur::before {
  content: url( "../img/icons/pin-natur.svg" );
}

.bv-abenteuer::before {
  content: url( "../img/icons/pin-abenteuer.svg" );
}

.bv-cities::before {
  content: url( "../img/icons/pin-cities.svg" );
}


.bv-popup-img{
    padding-top: 25%;
    padding-bottom: 25%;
    margin: 0px!important;

    vertical-align: middle;
    background-size: cover;
    background-color: $grey;
  }

.mapboxgl-popup {
    max-width: 320px;
    z-index: 19;
}



.bv-popup-wrap{
  padding:0;
}

.mapboxgl-popup-close-button{
  background-color: $white;
  border-radius: 50px!important;
  margin: 4px;
  font-size: 14px;
  padding: 2px 7px 4px;

}
.mapboxgl-popup-close-button:hover {

    background-color:  $black;
    color: $white;

}

.mapboxgl-popup-content {
  padding:0px!important;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4)!important;
}


.bv-legend-wrap{
  position: absolute;
  bottom: 40px;
  left: 10px;
  z-index: 18;
  background-color: $white;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2)!important;
}
