// background styles

.bg {
  &--white { background-color: $white; }
  &--light { background-color: $grey-lightest }
  &--light-alpha { background-color: rgba($black, .08); }
  &--bv-red { background-color: $bv-red; }
  &--bv-blue { background-color: $bv-blue; }
  &--black  { background-color: $black; }
  &--black-alpha  {

    background-color: rgba($black, 1);

    @include bp($xxl){
    background-color: rgba($black, .8);
    border-bottom: 4px solid #c30e2e;}
  }
  &--black-mob  {

    background-color: rgba($black, 1);
    border-bottom: 4px solid #c30e2e;

    @include bp($xxl){
    background-color: rgba($black, 0);
    border-bottom: none;}
  }
  &--dark  { background-color: $grey-dark; }
  &--img   { @include background-attributes; }
  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    @include background-attributes;
    background-color: $grey-darker;
  }
}
