// general styles for the project that wouldn't be a reuseable component


/* ==========================================================================
   Text-Styles
   ========================================================================== */

.bv-text-shadow-white{
  text-shadow: 0 0 20px rgba($white, 1);
}

.bv-hpad {
  padding-left: $s2;
  padding-right: $s2;

@include bp($md) {
  padding-left: $s4;
  padding-right: $s4;
}

@include bp($lg) {
  padding-left: $s3;
  padding-right: $s3;
}

@include bp($xl) {
padding-left: $s4;
padding-right: $s4;
}

@include bp($xxl) {
  padding-left: $s5;
  padding-right: $s5;
}

@include bp($xxxl) {
  padding-left: $s7;
  padding-right: $s7;
}

}
/* ==========================================================================
   Parallax & BG
   ========================================================================== */


.bv-bg-pattern {

  background-size: 55%;
  background-position: center;

  @include bp($md){
    background-size: 50%;
  }

  @include bp($lg){
    background-size: 35%;
  }

  @include bp($xl){
    background-size: 25%;
  }

  @include bp($xxl){
    background-size: 15%;
  }
}


.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



@media only screen and (max-width: 969px)  {

  .bv-hide-bg-mob{
    background-image: none!important;

  }

  .bv-parallax{
        background-attachment: scroll;
        background-size: cover;
    }

}

@media only screen and  (min-width: 1024px) {

  .bv-show-bg-mob{
      background-image: none!important;

    }
}

@media only screen and  (min-width: 970px) and (max-width: 1024px) {
  .bv-show-bg-mob{
      background-image: none!important;

    }
.bv-parallax{
      background-attachment: scroll;
      background-size: cover;
  }
}



/* ==========================================================================
   mobile
 ========================================================================== */


.bv-mob-show{
    display: block;

  @include bp($xl) {
      display: none;

  }
}

.bv-mob-hide{
    display: none;

    &--lg { display: none;}

  @include bp($lg) {  &--lg {display: block;}  }

  @include bp($xl) {  display: block;  }

}



/* ==========================================================================
   Accordion
 ========================================================================== */


.accordion {
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    background-color: $grey-lightest;
    border-bottom: 1px solid $grey-lighter;
    margin: 10px 0;
}

.accordion::after{
  content: url(../img/icons/arrow-right.svg);
  transform: scale(.07) rotate(90deg);
  display: block;
  margin-top: -160px;
  margin-bottom: -125px;
  margin-left: 90%;
  transition: 0.4s;
}

.accordion:hover{
   background-color: rgba($grey-lighter, .6);
 }

.active{
  border-bottom: 10px solid $grey-lightest;
  background-color: rgba($grey-lighter, .6);
  margin: 10px 0 0 0;
 }

.active::after {
  content: url(../img/icons/arrow-right.svg);
  transform: scale(.07)  rotate(-90deg);
  margin-top: -155px;
  margin-bottom: -130px;
  transition: 0.4s;

}

.panel {
    padding: 0 10px 0 10px;
    margin-top: -3px;
    display: none;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid $grey-lighter;

}

.panel-img{
  padding-top:50%;
  background-size: cover;
  text-align: center;
  letter-spacing: -0.5px;
}



/* ==========================================================================
Flight tag - Offers
========================================================================== */

.flight-tag {
  position: absolute;
  top: $s-2;
  left: $s-2;
  display: block;
  width: 50%;
  @include bp($sm){
    top: $s0;
    left: $s0;
    width: 146px;
  }
}
