---
layout: default
---



<div class=" vpad--xl bg--light-alpha  bv-bg-pattern" id="top"  style="background-image: url('{{site.img}}/icons/bg-pattern.png'); ">
  <div class="container">
    <div class="width width--xl  text--left text text--black " >
       <div class="text--md ">{{page.intro}}</div>
       <div class="space--md"></div>
    </div>
  </div>
</div>




{% for section in site.data[page.id] %}

    <div id="{{section.id}}" class="harvey{% cycle ' harvey--swap', '' %} bv-parallax bv-hide-bg-mob bg--black-mob"  style="background-image: url('{{site.img}}/content/{{page.id}}/bg-{{section.id}}.jpg'); background-repeat: none; background-position: center; background-size: cover;">
      <div class="harvey__img bv-show-bg-mob" style="background-image: url('{{site.img}}/content/{{page.id}}/bg-{{section.id}}.jpg'); background-repeat: none; background-position: {% cycle '75%', '25%' %} center; background-size: cover;"> </div>
      <div class="harvey__text boxpad--xl text text--md  ">
        <div class="bg--black-alpha  text--white boxpad--xl " >
        <div class="space--md"></div>
        <h2 class="title title--xl text--light text--upper ">{{section.title}}</h2>
        <div class="space--sm"></div>
        <p class=" text--left">{{section.description}}</p>
        <div class="space--xl"></div>
      </div>
      </div>
    </div>
 {% endfor %}
